@model IEnumerable<PostAllViewModel>

<table>
	<p>Test</p>
</table>
<table class="table table-bordered table-hover">
	<tbody>
		@foreach(var post in Model)
		{
			<tr>
				<td>
					<a asp-controller="Post" asp-action="Details" asp-route-id="@post.Id" class="btn btn-warning mb-2 w-100 p-3 fw-bold">View Details</a>
						@post.Title
				</td>
				<td>
					@post.AuthorName
				</td>
				<td>
					@post.DateTime
				</td>
				<td>
					@post.RepliesCount	
				</td>

				<td>
					<a asp-controller="Post" asp-action="AllByCategory" asp-route-category="@post.Category" class="btn btn-warning mb-2 w-100 p-3 fw-bold">@post.Category</a>
				</td>
			</tr>
		}
	</tbody>
</table>