@model PostDetailsViewModel

@{
    ViewBag.Title = Model.Title;
}

<link rel="stylesheet" href="~/css/ForumCss/forumDetails.css" asp-append-version="true" />

<div class="main-body">

    <div class="post-title">
        <h2>@Model.Title</h2>
    </div>

    <div class="elements">
        <div class="left-elements">
            <p class="reply-element">
                <a asp-controller="Reply" asp-action="Create" asp-route-id="@Model.Id" class="reply-customize">Reply</a>
            </p>
            <p class="reply-count-element">@Model.PostReplies.Count() &#128172</p>
        </div>

        <div class="right-elements">
            @if (User?.Identity?.Name == Model.AuthorName)
            {
                <p>
                    <form asp-controller="Post" asp-action="Delete" asp-route-id="@Model.Id">
                            <input type="submit" value="Delete" class="delete-element" onclick="return confirm('Are you sure you want to delete post: @Model.Title?')" />
                    </form>
                    
                </p>

                <p class="edit-element">
                    <a asp-controller="Post" asp-action="Edit" asp-route-id="@Model.Id" class="edit-customize">Edit</a>
                </p>
            }
        </div>
    </div>

    <div class="information-body">
        <div class="card w-100">
            <div class="card-body">
                <div class="post-user-category">

                    <p class="author-name">
                        @Model.AuthorName
                    </p>

                    <p class="category">
                        <a asp-controller="Post" asp-action="AllByCategory" asp-route-category="@Model.Category">@Model.Category</a>
                    </p>

                </div>

                <hr/>

                <div class="content-date">

                    <div class="content">
                        <p class="content">@Model.Content</p>
                    </div>

                    <div class="date-created">
                        <p class="date-created">@Model.PostCreated</p>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="reply-body">
        @foreach (var reply in Model.PostReplies)
        {
            <div class="information-body">
                <div class="card w-100">
                    <div class="card-body">
                        <div class="post-user-buttons">

                            <p class="author-reply-name">
                                 @reply.AuthorName
                            </p>

                            @if (User?.Identity?.Name == reply.AuthorName)
                            {
                                <div class="reply-delete-post">
                                    <p>
                                        <form asp-controller="Reply" asp-action="Delete" asp-route-id="@reply.Id">
                                            <input type="submit" value="Delete" class="delete-element" onclick="return confirm('Are you sure you want to delete post: @Model.Title?')" />
                                        </form>

                                    </p>

                                    <p class="edit-element">
                                        <a asp-controller="Reply" asp-action="Edit" asp-route-id="@reply.Id" class="edit-customize">Edit</a>
                                    </p>
                                </div>
                            }

                        </div>

                        <hr />

                        <div class="content-date">

                            <div class="content">
                                <p class="content">@reply.Content</p>
                            </div>

                            <div class="date-created">
                                <p class="date-created">@reply.ReplyCreated</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        }

    </div>

</div>

@section Scripts { 
    <partial name="_ValidationScriptsPartial" />
}
