@model PostDetailsViewModel

<link rel="stylesheet" href="~/css/ForumCss/forumDetails.css" asp-append-version="true" />

<div class="post-title">
    <div class="card w-40">
            <h2 class="text-center">@Model.Title</h2>
    </div>
</div>


<div>
    <p>Answer @Model.PostReplies.Count() Delete</p>
</div>

<div class="row">
    <div class="card w-100">
        <div class="card-body">
            <div class="post-user-category">
                <p class="text-paragraph">@Model.AuthorName<strong><font color="#8B008B">@Model.Category</font></strong></p>
            </div>
            <hr />
            <div class="content">
                <p class="mb-0">@Model.Content</p>
            </div>
            <div class="date-created">
                <p class="mb-0">@Model.PostCreated</p>
            </div>
            
        </div>

        @if (User.Identity.Name == Model.AuthorName)
        {
            <a asp-controller="Post" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning mb-2 w-100 p-3 fw-bold">Edit</a>
        }

    </div>
</div>

@section Scripts { 
    <partial name="_ValidationScriptsPartial" />
}
